// fonts
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

// colors
$white: #fff;
$beige: #EBE7D2;
$green: #93C47D;
$aqua: #41C5AD;
$blue: #8eb4cf;
$orange: #FF8200;
$yellow: #F5BB44;
$l-grey: #ccc;
$grey: #656565;
$black: #222222;
$red: #e76565;

// font-size
$font-s: 0.83em;

//width
$width: 500px;
$md: 768px;

// hover animation
.result__graph-icon:hover, .result__graph-text:hover, .my-material-list__box-delete:hover, .clearBtn:hover, 
.logout:hover, .footer__tab:hover, .primaryBtn:hover, .recipes__fav-btn:hover, .recipes__fav-btn-active:hover,
.smallBtn:hover, .my-material__box:hover, .recipes__recipe:hover, .welcomeBtn:hover{
    opacity: .7;
    transition: opacity 0.15s ease-out;
}

// reset buttons
.material__submitBtn, .material__submitBtn-hidden, .suggest__btn,
.suggest__btn-secondary, .setting__btn, .clearBtn, .result__top-btn, .primaryBtn, .smallBtn,
.recipes__fav-btn, .my-material-list__box-delete, .recipes__closeBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.my-material__box, .my-material-list__box, .recipes__recipe, .message__box, .material__submitBtn{
    box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086);
}

.material__submitBtn, .material__submitBtn-hidden, .recipes__closeBtn, .logout{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
}


.primaryBtn{
    color: $white;
    background-color: $yellow;
    border-radius: 80000px;
    padding: 10px 20px;
}
.smallBtn{
    font-size: 0.8em;
    color: $white;
    background-color: $yellow;
    border-radius: 80000px;
    padding: 5px 10px;
}
.smallBtn-disable{
    font-size: 0.8em;
    color: $white;
    background-color: $yellow;
    border-radius: 80000px;
    border: none;
    padding: 5px 10px;
    opacity: .5;
    cursor: auto;
}
.clearBtn{
    color: $red;
}

// General
body{
    font-family: 'Kiwi Maru', serif;
    color: $grey;
    font-size: 1.2em;
}
#app{
    padding-bottom: 80px;
}
#app:before{
    animation: fade_reverse 1s ease forwards;
    background: $beige;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
}
.bg-app{
    background-color: $beige;
    min-height: calc( 100vh - 120px);
    position: relative;
}
a:hover{
    text-decoration: none;
}

.message__box{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: $white;
    border-radius: 10px;
    width: $width - 40px;
    position: fixed;
    top: 0;
    z-index: 80000;
    opacity: 1;
    animation: box-fade 5s ease forwards;
    transform: translateY(-150%);

    @media (max-width: $width) {
        width: 92vw;
        margin: 20px;
    }
}
.message__icon{
    padding: 8px;
    border-radius: 50%;
    color: $white;
    background-color: $aqua;
}
.message__text{
    margin-left: 15px;
    color: $grey;
}

footer{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    background-color: $yellow;
    bottom: 0;
    width: 100%;
    height: 120px;
    opacity: .99;
    z-index: 80000;

    @media (max-width: $width) {
        width: 100vw;
    }
}
footer a:hover{
    text-decoration: none;
}
.footer__tab{
    text-align: center;
    padding: 0px;
    width: 100px;

    @media (min-width: 1000px) {
        width: 200px;
    }
}
.footer__icon{
    color: rgba(130,130,130,0.82);
    font-size: 43px;
}
.footer__icon.active, .footer__text.active{
    color:$white;
}
.footer__text{
    color: rgba(130,130,130,0.82);
    font-size: $font-s;
}
.head-text{
    font-size: $font-s;
    text-align: center;
}

.categories {
    overflow: hidden;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.categories label {
    font-size: 0.95em;
    float: left;
    border-radius: 80000px;
    margin: 5px 5px;
    padding: 7px 20px;
    border: 1px solid $l-grey;
    cursor: pointer;
    transition: .5s;
}
.categories li.active,
.categories :checked + label {
    background-color: $black;
    border-color: $black;
    color: $white;
    cursor: auto;
}

.materials__wrap{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px,1fr));
    grid-gap: 10px;
    margin: 20px;
}
.material__img{
    width: 100px;
    height: 100px;
}
.materials__border{
    margin: 0 auto;
    border: 7px solid $l-grey;
    border-radius: 50%;
    width: 115px;
    opacity: .5;
}
.materials__border-active{
    margin: 0 auto;
    border: 7px solid $green;
    border-radius: 50%;
    width: 115px;
}
.material__name{
    text-align: center;
    color: $black;
    margin-top: 1px;
    font-size: $font-s;
}
.material__submitBtn{
    margin: 20px auto;
    position: fixed;
    bottom: 120px;
    width: $width - 40px;
    color: $white;
    background-color: $yellow;
    border-radius: 80000px;
    padding: 10px 20px;
    transition: 0.2s all;
    z-index: 100;

    @media (max-width: $width) {
        width: 90vw;
    }
}
.material__submitBtn:hover{
    background-color: rgb(244,200,90);
}
.material__submitBtn-hidden{
    margin: 20px;
    position: fixed;
    bottom: 120px;
    width: $width - 40px;
    color: $white;
    background-color: #e76565;
    border-radius: 80000px;
    padding: 10px 20px;
    transition: 0.2s all;

    @media (max-width: $width) {
        width: 90vw;
    }
}
.material__submitBtn-hidden:hover{
    background-color: #e96d6d;
}

.suggest__btn{
    border-radius: 80000px;
    margin: 10px;
    padding: 10px 20px;
    color: $white;
    background-color: $aqua;
}
.suggest__btn-secondary{
    border-radius: 80000px;
    margin: 10px;
    padding: 10px 20px;
    color: $white;
    background-color: $grey;
}

.result__top{
    color: $black;
    padding: 35px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.result__top-menu{
    font-size: 1.8em;
    font-weight: 600;
}
.result__top-percent{
    width: 90px;
    margin: 0 auto;
}
.result__top-percent span{
    font-size: 1.8em;
    font-weight: 600;
    opacity: 0;
    animation: fade 1.5s forwards;
    animation-delay: 0.8s;
}
.result__graph-head{
    font-size: 18px;
    opacity: 0;
    animation: fade 1s forwards;
    animation-delay: 1.3s;
}
.result__graph{
    overflow: hidden;
    position: relative;
    @media (min-width: $width) {
        margin: 30px;
    }
}
.result__graph:before{
    animation: right-move 1.5s ease forwards;
    animation-delay: 0.8s;
    background: $beige;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;
}
.result__graph-column{
    display: flex;
    margin-bottom: 15px;
}
.result__graph-menu{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.8em;
    text-align: right;
    
}
.result__graph-icon{
    color: $white;
    background-color: $yellow;
    padding: 6px;
    border-radius: 50%;
}
.result__graph-text{
    color: $grey;
    font-size: 15px;
}
.result__graph-percentBar{
    color: $white;
    font-size: 0.8em;
    background-color: $aqua;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:10px;
    width: 100%;
    height: 35px;
    overflow: hidden;
}

.recipes__recipe{
    overflow: hidden;
    border-radius: 10px;
}
.recipes__recipe-cover{
    width: 100%;
    height: 140px;
    background-size: cover;
    position: relative;
}
.recipes__recipe-img{
    width: 140px;
    height: 140px;
}
.recipes__fav-btn{
    color: $yellow;
    background: $white;
    border: 1px solid $yellow;
    padding: 5px 11px;
    border-radius: 50%;
}
.recipes__fav-btn-active{
    color: $white;
    background: $yellow;
    border: 1px solid $white;
    padding: 5px 11px;
    border-radius: 50%;
}
.recipes__recipe-title{
    color: $aqua;
}
.recipes__recipe-menu{
    position: absolute;
    top:90px;
    right:0px;
    font-size: 15px;
    z-index: 1;
}
.button_bar{
    position: fixed;
    bottom: 120px;
    width:100vw;
    z-index: 1000;
}
.recipes__closeBtn{
    width: $width - 40px;
    color: $white;
    background-color: $grey;
    border-radius: 80000px;
    margin:20px;
    padding: 10px 20px;
    transition: 0.2s all;
    
    @media (max-width: $width) {
        width: 90vw;
    }
}
.recipes__closeBtn:hover{
    background-color: rgb(120,120,120);
}
.recipes__recipe-dislike-alert{
    color: $white;
    background-color: $red;
    border-radius: 80000px;
    padding: 3px 10px;
}
.suggest-alert{
    opacity: 0;
    animation: fade 3s forwards;
}
.my-material__box{
    background-color: $white;
    border-radius: 14px;
    color: $grey;
}
.my-material__box-title{
    color: $yellow;
    font-size: 26px;
}
.my-material__box-description{
    font-size: 16px;
}
.arrow{
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    vertical-align: middle;
    text-decoration: none;
    font-size: 24px;
}
.arrow::before,
.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}
.circle::before{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $yellow;
}
.circle::after{
    left: 9px;
    width: 9px;
    height: 9px;
    border-top: 3px solid $white;
    border-right: 3px solid $white;
    transform: rotate(45deg);
}

.my-material-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 20px;
}
.my-material-list__box{
    background-color: $white;
    border-radius: 14px;
    color: $grey;
    display: inline-block;
    align-items: center;
    opacity: 0;
    animation: fade 1.5s forwards;
}
.my-material-list__box-category{
    font-size: 14px;
    color: $white;
    border-radius: 80000px;
    background-color: $yellow;
    display: inline-block;
    padding: 5px 10px;
}
.my-material-list__box-img{
    width:50px;
    height:50px;
}
.my-material-list__box-delete{
    color: $red;
}

.logout{
    width: 52px;
    height: 52px;
    margin: 15px;
    position: fixed;
    right: 0;
    top: 0;
    background: $yellow;
    opacity: 0.9;
    border-radius: 15px;
    z-index: 1000;

    @media (min-width: $md) {
        width: 170px;
    }
}
.logout-text{
    color: $white;
    display: none;
    @media (min-width: $md) {
        display: inline;
    }
}
.logout span{
position: relative;
display: block;
width: 52px;
height: 52px;
text-decoration: none;
}
.logout span::before{
font-family: 'Font Awesome 5 Free';
font-weight: 900;
content: '\f2f5';
font-size: 26px;
color: $white;
position: absolute;
width: 26px;
height: 26px;
top: -5px;
bottom: 0;
right: 0;
left: 0;
margin: 13px;
text-align: center;
}

@keyframes box-fade {
    10% {
      opacity: .95;
      transform: translateY(0%);
    }
    75% {
        opacity: .95;
        transform: translateY(0%);
      }
    100% {
        opacity: 0;
        transform: translateY(-150%);
      }
}
@keyframes right-move {
    100% {
      transform: translateX(100%);
    }
}
@keyframes fade {
    100% {
      opacity: 1;
    }
}
@keyframes fade_reverse {
    100% {
      opacity: 0;
    }
}