@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
.material__submitBtn, .material__submitBtn-hidden, .suggest__btn,
.suggest__btn-secondary, .setting__btn, .setting__clearBtn, .result__top-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: 'Kiwi Maru', serif;
  color: #222222;
  font-size: 1.2em;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE, Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.bg-app {
  background-color: #EBE7D2;
  min-height: calc( 100vh - 120px);
}

a:hover {
  text-decoration: none;
}

.message__box {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 460px;
  position: fixed;
  top: 0;
  z-index: 1;
  opacity: 0;
  -webkit-animation: box-fade 5s ease forwards;
          animation: box-fade 5s ease forwards;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

@media (max-width: 500px) {
  .message__box {
    width: 92vw;
    margin: 20px;
  }
}

@-webkit-keyframes box-fade {
  10% {
    opacity: .95;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    opacity: .95;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
  }
}

@keyframes box-fade {
  10% {
    opacity: .95;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    opacity: .95;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
  }
}

.message__icon {
  padding: 8px;
  border-radius: 50%;
  color: #A0F7E7;
  background-color: #41C5AD;
}

.message__text {
  margin-left: 15px;
  color: #656565;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: #F5BB44;
  bottom: 0;
  width: 500px;
  height: 120px;
  opacity: .99;
}

@media (max-width: 500px) {
  footer {
    width: 100vw;
  }
}

footer a:hover {
  text-decoration: none;
}

.footer__tab {
  text-align: center;
  padding: 20px 20px;
}

.footer__icon {
  color: rgba(130, 130, 130, 0.82);
  font-size: 43px;
}

.footer__icon.active, .footer__text.active {
  color: #fff;
}

.footer__text {
  color: rgba(130, 130, 130, 0.82);
  font-size: 0.83em;
}

.head-text {
  font-size: 0.83em;
  text-align: center;
}

.categories {
  overflow: hidden;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories label {
  font-size: 0.95em;
  float: left;
  border-radius: 40px;
  margin: 5px 5px;
  padding: 7px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.categories li.active,
.categories :checked + label {
  background-color: #222222;
  border-color: #222222;
  color: #fff;
  cursor: auto;
}

.materials {
  margin-top: 25px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 180px;
}

.materials__wrap {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.materials__content {
  margin: 8px 10px;
}

.material__img {
  width: 100px;
  height: 100px;
}

.materials__border {
  border: 7px solid #ccc;
  border-radius: 50%;
  width: 115px;
  opacity: .5;
}

.materials__border-active {
  border: 7px solid #4CAF50;
  border-radius: 50%;
  width: 115px;
}

.material__name {
  color: #222222;
  margin-top: 1px;
  font-size: 0.83em;
}

.material__submitBtn {
  margin: 20px;
  position: fixed;
  bottom: 120px;
  width: 460px;
  color: #fff;
  background-color: #41C5AD;
  border-radius: 80000px;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

@media (max-width: 500px) {
  .material__submitBtn {
    width: 90vw;
  }
}

.material__submitBtn:hover {
  background-color: #54ceb7;
}

.material__submitBtn-hidden {
  margin: 20px;
  position: fixed;
  bottom: 120px;
  width: 460px;
  color: #fff;
  background-color: #e76565;
  border-radius: 80000px;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

@media (max-width: 500px) {
  .material__submitBtn-hidden {
    width: 90vw;
  }
}

.material__submitBtn-hidden:hover {
  background-color: #e96d6d;
}

.suggest__btn {
  border-radius: 80000px;
  margin: 10px;
  padding: 10px 20px;
  color: #fff;
  background-color: #41C5AD;
}

.suggest__btn-secondary {
  border-radius: 80000px;
  margin: 10px;
  padding: 10px 20px;
  color: #fff;
  background-color: #656565;
}

.result__top-menu {
  font-size: 1.8em;
  font-weight: 600;
}

.result__top-percent {
  width: 90px;
  margin: 0 auto;
}

.result__top-percent span {
  font-size: 1.8em;
  font-weight: 600;
}

.result__top-btn {
  color: #fff;
  background-color: #41C5AD;
  border-radius: 80000px;
  padding: 10px 20px;
}

.result__graph-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.result__graph-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.8em;
  text-align: right;
}

.result__graph-percentBar {
  color: #fff;
  font-size: 0.8em;
  background-color: #d17373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  width: 100%;
  height: 35px;
  overflow: hidden;
}

.setting__modal-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 500px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.setting__modal-content {
  z-index: 2;
  width: 82%;
  padding: 1em;
  background: #fff;
}

.setting__btn-danger {
  color: red;
}

.setting__clearBtn {
  color: red;
}
/*# sourceMappingURL=original.css.map */